<article class="hoja detalles-actor" id="actor-<%= actor.id %>">

	<header>
		<div class="headshot-container">
			<div class="headshot <%= actor.partido %>">
				<div class="headshot-image" style="background-image:url(/actores/imagen/<%= actor.imagen %>)"></div>
			</div>
		</div>

		<div id="localidad" class="actor-byline">
			<p class="camara"><%= actor.congreso %></p>
			<p class="cabecera"><%= actor.poblacion %></p>
		</div>

		<h1 class="actor-nombre"><%= actor.nombre %></h1>

		<div id="links">
			<%
				links = actor.links.ne(servicio: 'postal')
				links.each do |link|
				clase = "social-icon"
				icono = link.servicio
				if link.servicio == 'http'
					clase = "icono round"
					icono = 'globe'
				end
			%>
			<a class="link <%= clase %> <%= icono %>" href="<%= link.url %>" target="_blank"><%= icono %></a>
			<% end %>
		</div>

		<div id="distrito" class="actor-byline">
			<p class="distrito"><%= actor.distrito_json %></p>
			<p class="partido"><%= actor.partido %></p>
		</div>

	</header>

	<section class="info-actor" id="contacto">
		<h2>¿Cómo me pongo en contacto?</h2>

		<div class="contacto-actor">
			<span class="icono main-icon">phone</span>
			<div class="contacto-data">
				<ul>
				<% actor.telefonos.each do |telefono| %>
					<li>
						<a href="tel:<%= telefono.numero %>" title="Llamarle a este representante">
							<%= telefono.numero %>
						</a>
						<% if telefono.extension %>
						ext. <%= telefono.extension %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>

		</div>

		<div class="contacto-actor">
			<span class="icono main-icon">email</span>
			<div class="contacto-data">
				<a href="mailto:<%= actor.correo %>" title="Enviarle un correo a este representante"><%= actor.correo %></a>
			</div>
		</div>

		<div class="clearfix"></div>

		<% 
			postal = actor.links.where({servicio: 'postal'}).first
			if postal
		%>
		<div class="contacto-actor contacto-full">
			<span class="icono main-icon">office</span>
			<div class="contacto-data">
				<%= postal.url %>
			</div>
		</div>
		<% end %>

		<% if actor.suplente %>
		<p class="suplente">Suplente: <%= actor.suplente %></p>
		<% end %>

		<hr />
	</section>


	<section class="info-actor" id="comisiones">
		<h2>¿En qué comisiones participa?</h2>

		<ul>
			<% actor.puestos.each do |puesto| %>
				<li class="comision">
					<% if puesto.puesto != 'integrante' %>
					<span class="puesto"><%= puesto.puesto %></span> 
					<% end %> 
					<a href="/comisiones/<%= puesto.comision.stub %>/<%= puesto.comision.id %>" title="Detalles de esta comisión">
						<%= puesto.comision.nombre %>
					</a>
				</li>
			<% end %>
		</ul>
		<hr />
	</section>

	<section class="info-actor" id="desempeno">
		<h2>¿Cómo se desempeña?</h2>

		<% if actor.inasistencias || actor.votaciones %>

		<% if actor.inasistencias && actor.inasistencias.sesiones != 0%>
		<div class="stats clearfix">
			<h3><span class="icono main-icon">calendar</span> Asistencias</h3>

			<ul class="hidden" id="data-asistencias">
				<% actor.inasistencias[:periodos].each do |fecha, asistencia| %>
					<li class="asistencia">
						<dt><%= fecha %></dt>
						<dd><%= asistencia ? 'si' : 'no' %></dd>
					</li>
				<% end %>
			</ul>

			<p class="ala-grafica left">
				<span class="numero"><%= actor.inasistencias.total %></span> inasistencias 
			</p>

			<p class="ala-grafica right">
				<span class="numero"><%= actor.inasistencias.sesiones %></span> sesiones 
			</p>

			<div class="indicador-principal">
				<%

					pc = 100 - (actor.inasistencias.total.to_f/actor.inasistencias.sesiones.to_f*100.00).round
					clase = case pc
					when 0..30
						'diarrea'
					when 31..50
						'zurrandola'
					when 51..75
						'cagandola'
					else
						'safe'
					end
				%>
				<span class="cantidad <%= clase %>"><%= pc %>%</span>
				<span class="text">asistencias</span>
			</div>

		</div>
			
		<% end #inasistencias %>

		<% if actor.votaciones %>
		<div class="stats">
			<h3><span class="icono main-icon">scales</span> Votaciones</h3>

			<ul class="hidden" id="data-votaciones">
				<% actor.votaciones[:periodos].each do |fecha, votos| %>
					<li class="votacion">
						<dt><%= fecha %></dt>
						<dd><%= 100-(votos['ausente'].to_f/votos['total'].to_f*100).round %></dd>
					</li>
				<% end %>
			</ul>

			<p class="ala-grafica left">
				<span class="numero"><%= actor.votaciones.ausente %></span> ausencias 
			</p>

			<p class="ala-grafica right">
				<span class="numero"><%= actor.votaciones.total %></span> votaciones 
			</p>

			<div class="indicador-principal">
				<%

					pc = 100 - (actor.votaciones.ausente.to_f/actor.votaciones.total.to_f*100.00).round
					clase = case pc
					when 0..30
						'diarrea'
					when 31..50
						'zurrandola'
					when 51..75
						'cagandola'
					else
						'safe'
					end
				%>
				<span class="cantidad <%= clase %>"><%= pc %>%</span>
				<span class="text">asistencias</span>
			</div>

		</div>			
		<% end #votaciones%> 

		<% else %>
		<p>No tenemos datos todavía :/</p>
		<% end %>

	</section>


	<footer>
		<p>Información obtenida de <a href="<%= actor.meta.fkey %>" target="_blank" title="Abrir la información de origen"><%= actor.meta.fkey %></a>. Última actualización: <%= l(actor.meta.lastCrawl, '%d de %B, %y %H:%M:%S')%></p>
	</footer>
</article>
